name: Release

on:
  push:
    branches:
    - feature/unitypackage-upload-test
    
  workflow_dispatch:

jobs:
  # upmブランチにコミット
  upm-release:
    name: release
    runs-on: ubuntu-latest
    env:
      ROOT: Packages/UnityPackageTest
    steps:
    - uses: actions/checkout@v2
    - name: Get package
      id: package
      run: |
        echo "::set-output name=data::$(cat ${{ env.ROOT }}/package.json | tr -d '\n')"

#     - name: Prepare
#       run: |
#         git subtree split -P "${{ env.ROOT }}" -b "${{ env.BRANCH }}"
#         git checkout "${{ env.BRANCH }}"
#         git mv Samples Samples~
#         rm -f Samples.meta
#       env:
#         BRANCH: release-tmp

#     - name: Push upm branch
#       run: |
#         git fetch
#         git reset --soft origin/upm
#         git checkout upm
#         git config --global user.name 'github-bot'
#         git config --global user.email 'github-bot@users.noreply.github.com'
#         git commit -am ${{ env.VERSION }}
#         git status
#         git push origin upm
#       env:
#         VERSION: "v${{ fromJson(steps.package.outputs.data).version }}"
      
#     - name: Add Tag
#       run: |
#         git tag -f ${{ env.TAG }}
#         git push -f origin ${{ env.TAG }}
#       env:
#         TAG: "v${{ fromJson(steps.package.outputs.data).version }}"

  # パッケージ出力
  create-package:
    needs: [upm-release]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Debug
        run: |
          ls
    
      - uses: actions/cache@v2
        with:
          path: Library
          key: Library-UnityPackageTest-StandaloneLinux64
          restore-keys: |
            Library-UnityPackageTest-
            Library-

      # 関数を叩いてUnityPackage作成
      - name: Export unitypackage
        uses: game-ci/unity-builder@v2.0-alpha-6
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          projectPath: .
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          unityVersion: 2020.1.0f1
          targetPlatform: StandaloneLinux64
          buildMethod: PackageExporter.Export
      
      - name: Debug
        run: |
          ls
      
      # アーティファクトに上げる
      - uses: actions/upload-artifact@v2
        with:
          name: UnityPackageTest.unitypackage
          path: UnityPackageTest.unitypackage

  # リリースを切ってunitypackageを上げる
  create-release:
    needs: [upm-release, create-package]
    runs-on: ubuntu-latest

    steps:
      # Releaseを切る
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION_NAME: "0.0.4"
        with:
          tag_name: "v${{ VERSION_NAME }}"
          release_name: "v${{ VERSION_NAME }}"
          body: "https://github.com/kameffee/UnityPackageTest.git#v${{ VERSION_NAME }}"
          draft: true
          prerelease: false

      # アーティファクトから落としてくる
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: UnityPackageTest.unitypackage
          path: .
      
      - name: Debug
        run: ls
      
      # アップロード
      - name: Upload UnityPackage
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./UnityPackageTest.unitypackage
          asset_name: UnityPackageTest.unitypackage
          asset_content_type: application/octet-stream
